* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");

@font-face {
   font-family: "satoshi";
   src: url("../font/Satoshi-Variable.ttf");
}

@font-face {
   font-family: "fraktionMono";
   src: url("../font/PPFraktionMono-Regular.otf");
}

:root {
   font-size: 16px;
   --black: #4a3c4b;
   --white: #e0ded2;
   --accent: #eb5a40;

   --desk_section_padding: 6rem;
}

::selection {
   color: var(--white);
   background: var(--accent);
}

body {
   background-color: var(--white);
}

/* MAIN */

nav {
   position: fixed;
   right: 0;
   height: 100vh;
   background-color: var(--black);
   width: 50px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   padding-top: 2rem;
   padding-bottom: 2rem;
   cursor: pointer;
   border-left: 2px dashed var(--accent);
   z-index: 99999;
}

nav p {
   font-family: "fraktionMono";
   text-transform: uppercase;
   transform: rotate(90deg);
   color: var(--accent);
}

.toggle_square {
   width: 0.8rem;
   height: 0.8rem;
   position: relative;
   margin: auto;
   margin-top: 2rem;
}

.toggle_square>div {
   height: 4px;
   width: 4px;

   background-color: var(--accent);
   position: absolute;
   transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.toggle_square>div:nth-child(1) {
   top: 0;
   left: 0;
}

.toggle_square>div:nth-child(2) {
   top: 0;
   right: 0;
}

.toggle_square>div:nth-child(3) {
   bottom: 0;
   left: 0;
}

.toggle_square>div:nth-child(4) {
   bottom: 0;
   right: 0;
}

nav:hover .toggle_square>div:nth-child(1) {
   top: 3px;
   left: 3px;
}

nav:hover .toggle_square>div:nth-child(2) {
   top: 3px;
   right: 3px;
}

nav:hover .toggle_square>div:nth-child(3) {
   bottom: 3px;
   left: 3px;
}

nav:hover .toggle_square>div:nth-child(4) {
   bottom: 3px;
   right: 3px;
}

nav>ul {
   list-style: none;
}

nav>ul>li {
   font-family: "fraktionMono";
   text-transform: uppercase;
   font-size: 1.2rem;
   color: var(--accent);
   transition: all 0.15s cubic-bezier(0.19, 1, 0.22, 1);
   position: relative;
}

nav>ul>li:not(:first-child) {
   margin-top: 1rem;
}

nav>ul>li:hover {
   color: var(--white);
}

.open_nav {
   background-color: var(--black);
   width: 20vw;
   height: 100vh;
   position: fixed;
   top: 0;
   right: -20vw;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
   z-index: 99;
}

.open_nav_is_open {
   right: 50px;
}

.square_hover {
   width: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.square_hover:after {
   content: "";
   width: 0;
   height: 0;
   background-color: var(--accent);
   transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.open_nav ul {
   list-style: none;
   display: flex;
   flex-direction: column;
   padding-top: 2rem;
}

.open_nav ul li {
   padding-left: 1rem;
   font-size: 1.8rem;
   font-family: "fraktionMono";
   text-transform: uppercase;
   color: var(--accent);
   display: flex;
   cursor: pointer;
   gap: 1rem;
   position: relative;
}

.open_nav ul li:not(:first-child) {
   margin-top: 2rem;
}

.open_nav ul li:hover .square_hover:after {
   height: 0.5rem;
   width: 0.5rem;
}

.open_nav ul li:last-child {
   font-size: 1.2rem;
   margin-top: 3rem;
   text-transform: none;
   letter-spacing: 2px;
}

.open_nav ul li:hover {
   color: var(--white);
}

.open_nav ul li:hover .square_hover:after {
   background-color: var(--white);
}

.open_nav .title {
   margin-bottom: 2rem;
   margin-left: 4rem;
   font-family: "satoshi";
   color: var(--accent);
   letter-spacing: 1.2px;
   font-size: 2.5rem;
}

.open_nav ul li:hover:after {
   width: 55%;
}

/* HEADER */

.header {
   width: 100%;
   min-height: 90vh;
   display: flex;
   flex-direction: row;
   padding-left: var(--desk_section_padding);
   padding-right: calc(var(--desk_section_padding) + 50px);
   padding-top: 4rem;
   padding-bottom: 4rem;
   gap: 4rem;
   position: relative;
   z-index: 0;
}

.header>div {
   width: 50%;
}

.header>.right {
   border-radius: 30px;
   background-position: right;
   z-index: 0;
   position: relative;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 100%;
   transition: all ease 0.5s;
}

#imageContainer>* {
   position: absolute;
   inset: 0;
   width: 100% !important;
   height: 100% !important;
   object-fit: cover;
}

#imageContainer * {
   filter: saturate(80%);
}

.header>.left>div>h1 {
   font-size: 5rem;
   letter-spacing: -6px;
   line-height: 110%;
   font-family: "fraktionMono";
   color: var(--black);
}

.header>.left>div>p {
   font-size: 1.8rem;
   font-family: "satoshi";
   margin-top: 2rem;
   line-height: 2.5rem;
   width: 75%;
   color: var(--black);
}

.header>.left {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.header>.left svg {
   transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.header>.left svg:hover {
   transform: rotate(-180deg);
}

svg line {
   stroke: var(--black);
   transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

svg path {
   stroke: var(--black);
}

svg .path_will_change {
   fill: var(--black);
}

.header .horizontal_line,
.horizontal_line {
   position: absolute;
   bottom: 0;
   width: calc(100% - 12rem - 50px);
   border-top: 1px dashed var(--black);
}

.left_inner_2 {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding-right: 2vw;
}

.left_inner_2>div {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.left_inner_2>div>div {
   font-family: "satoshi";
   display: flex;
   align-items: center;
   gap: 1rem;
   font-size: 1.2rem;
   padding-left: 0.2rem;
}

.left_inner_2>div>div>div {
   width: 0.8rem;
   height: 0.8rem;
   background-color: rgb(61, 184, 12);
}

.cta {
   background-color: var(--black);
   border: 1px var(--accent) dashed;
   color: var(--accent);
   padding: 1rem 2rem;
   font-size: 1.2rem;
   cursor: pointer;
   font-family: "fraktionMono";
   transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
   position: relative;
}

.cta:hover {
   background-color: var(--accent);
   color: var(--white);
}

.cta div {
   position: absolute;
   height: 0.4rem;
   width: 0.4rem;
   background-color: var(--accent);
   transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.cta>div:first-child {
   top: 0;
   left: 0;
}

.cta>div:nth-child(2) {
   top: 0;
   right: 0;
}

.cta>div:nth-child(3) {
   bottom: 0;
   left: 0;
}

.cta>div:nth-child(4) {
   bottom: 0;
   right: 0;
}

.cta:hover>div {
   background-color: var(--white);
}

.cta:hover>div:first-child {
   top: 24px;
   left: 20px;
}

.cta:hover>div:nth-child(2) {
   top: 24px;
   right: 20px;
}

.cta:hover>div:nth-child(3) {
   bottom: 24px;
   left: 20px;
}

.cta:hover>div:nth-child(4) {
   bottom: 24px;
   right: 20px;
}

/* -------------------------------- Services -------------------------------- */
section {
   display: flex;
   flex-direction: row;
   position: relative;
   padding-left: var(--desk_section_padding);
   padding-right: var(--desk_section_padding);
   padding-top: 2rem;
   padding-bottom: 2rem;
}

.services>div:first-child {
   width: 30%;
   padding-left: 2rem;
   position: relative;
   padding-top: 2rem;
}

.services>div:first-child:after {
   position: absolute;
   content: "";
   height: calc(100% - 4rem);
   top: 2rem;
   right: 0;
   width: 1px;
   border-right: 1px dashed var(--black);
}

.section_title {
   font-family: "fraktionMono";
   text-transform: uppercase;
   font-size: 1rem;
   font-weight: 400;
   letter-spacing: 2px;
   color: var(--black);
}

.services>div:nth-child(2) {
   width: 70%;
   padding: 2rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

.services .grid {
   display: grid;
   grid-template-columns: 1fr 1fr;
   position: relative;
   padding-left: 2rem;
   padding-right: 2rem;
}

.services .grid:after {
   content: "";
   position: absolute;
   width: 98%;
   height: 1px;
   border-bottom: 1px dashed var(--black);
   top: 48.5%;
}

.services .grid>div:first-child,
.services .grid>div:nth-child(3) {
   position: relative;
   padding-right: 2rem;
}

.services .grid>div:first-child:after,
.services .grid>div:nth-child(3):after {
   position: absolute;
   content: "";
   height: calc(100% - 4rem);
   top: 2rem;
   right: 0;
   width: 1px;
   border-right: 1px dashed var(--black);
}

.services .grid>div:nth-child(2),
.services .grid>div:nth-child(4) {
   padding-left: 2rem;
}

.services .grid>div {
   display: flex;
   flex-direction: row;
   gap: 2rem;
   padding-top: 2rem;
   padding-bottom: 2rem;
}

.services .grid>div h3 {
   font-size: 2rem;
   font-family: "fraktionMono";
   color: var(--black);
}

.services .grid>div p {
   font-family: "satoshi";
   margin-top: 1rem;
   color: var(--black);
}

.services svg {
   margin-top: 0.5rem;
}

.services .grid>div div>svg circle,
.services .grid>div div>svg path {
   transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.services .grid>div:first-child:hover div>svg {
   animation: rotate 1.8s linear infinite;
}

.services .grid>div:first-child:hover div>svg circle {
   transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
   stroke: var(--accent);
}

.services .grid>div:nth-child(2):hover div svg {
   animation: pointing 0.8s alternate infinite ease-in-out;
}

.services .grid>div:nth-child(2):hover div svg path {
   transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
   stroke: var(--accent);
}

.services .grid>div:nth-child(3):hover div svg {
   animation: pulse 0.8s linear infinite;
}

.services .grid>div:nth-child(3):hover div svg circle {
   transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
   stroke: var(--accent);
}

.services .grid>div:nth-child(4):hover div svg {
   animation: quarter_rotate 2.5s linear infinite;
}

.services .grid>div:nth-child(4):hover div svg path {
   transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
   stroke: var(--accent);
}

@keyframes rotate {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(360deg);
   }
}

@keyframes pointing {
   0% {
      transform: translate(0, 0);
   }

   100% {
      transform: translate(1rem, 1rem);
   }
}

@keyframes pulse {
   0% {
      transform: scale(1);
   }

   50% {
      transform: scale(1.2);
   }
}

@keyframes quarter_rotate {
   0% {
      transform: rotate(0deg);
   }

   20% {
      transform: rotate(0deg);
   }

   25% {
      transform: rotate(90deg);
   }

   45% {
      transform: rotate(90deg);
   }

   50% {
      transform: rotate(180deg);
   }

   70% {
      transform: rotate(180deg);
   }

   75% {
      transform: rotate(270deg);
   }

   95% {
      transform: rotate(270deg);
   }

   100% {
      transform: rotate(360deg);
   }
}

/* -------------------------------- PROJET -------------------------------- */

.project {
   display: flex;
   flex-direction: row;
   position: relative;
   padding-left: var(--desk_section_padding);
   padding-right: var(--desk_section_padding);
   padding-top: 2rem;
   padding-bottom: 2rem;
}

.project>.left {
   width: 30%;
   padding-left: 2rem;
   position: relative;
   padding-top: 2rem;
}

.project>.left>.left_inner>p {
   margin-top: 2rem;
   font-size: 1.2rem;
   font-family: "satoshi";
   width: 95%;
   text-wrap: balance;
   margin-bottom: 2rem;
}

.project>.left>.vertical_line {
   position: absolute;
   width: 1px;
   height: calc(100% - 4rem);
   top: 2rem;
   right: 0;
   border-right: 1px var(--black) dashed;
}

.project>.right {
   width: 70%;
   padding-top: 2rem;
   padding-bottom: 2rem;
   padding-left: 4rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

.grid_project {
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding-right: 3rem;
   position: relative;
}

.grid_project_item {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   position: relative;
}

.grid_project_item .top {
   display: flex;
   align-items: center;
   justify-content: center;
}

.grid_project_item .top img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 30px;
}

.grid_project_item .info {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding-left: 1rem;
   padding-right: 1rem;
}

.grid_project>div:first-child {
   grid-column: 1 / span 2;
   padding-bottom: 1rem;
}

.grid_project_item h3 {
   font-family: 'fraktionMono';
   font-size: 1.2rem;
   font-weight: 400;
}

.grid_project_item p {
   font-size: 1rem;
   font-family: 'satoshi';
}

.project_grid_horiline {
   width: calc(100% - 1rem);
   position: absolute;
   left: .5rem;
   bottom: -1rem;
   height: 1px;
   border-bottom: 1px var(--black) dashed;
}

.project_grid_vertiline{
   height : 100%;
   position: absolute;
   right : -2rem;
   top : -.5rem;
   width : 1px;
   border-right : 1px var(--black) dashed;

}
.grid_project>div:nth-child(2),
.grid_project>div:nth-child(3),
.grid_project>div:nth-child(4),
.grid_project>div:nth-child(5) {
   margin-top: 4rem;
}


.grid_project>div:nth-child(2),
.grid_project>div:nth-child(4) {
   margin-right: 2rem;
}

.grid_project>div:nth-child(3),
.grid_project>div:nth-child(5) {
   margin-left: 2rem;
}